//Tablet and Mobile Only Setup  
@media (max-width: 950px) {
  
  body .left {
    height: 6%;
    width: 15dvw;
    background: white;
    border: none;
    padding-top: 2.5dvh;
  }

  body .container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 1.5dvh;
    left: 0;
  }

  .container .top {
    padding: 1.5dvh 1.5dvh 1dvh;
    gap: 3dvh;
  }

  body .container .top .search-form {
    place-self: flex-end;
    width: 85%;
    height: 5dvh;
  }
    
  body .container .top .search-form img {
    left: 5%;
  }
    
  body .container .top .search-form input {
    padding: 0 5% 0 13%;
    font-size: 14px;
  }
    
  body .container .top nav {
    width: 100%;
  }
    
  body .container .top nav ul  {
    width: 100%;
  }
    
  body .container .top nav ul li {
    font-size: 1.7dvh;
  }
      
  body .container main {
    columns: 2;
    gap: 2.5%;
    top: 12%;
  }

  body .container main .card .download::after{
    right: -4.8dvw;
    top: -1dvh;
    width: 4dvw;
    box-shadow: 0px 8px 0px white;
  }

  body .container .preview {
    left: 0;
    width: 100dvw;
    align-items: flex-start;
    top: 14%;
    height: -webkit-fill-available;
  }

  body .container .preview .back {
    top: 3%;
    left: 8%;
    padding: 0.7dvh;
  }

  body .container .preview article {
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-shadow: none;
    border-radius: inherit;
    top: 0;
  }

  body .container .preview article .image {
    width: 100%;
    height: auto;
  }
  body .container .preview article .expand {
    bottom: 25%;
  }

  body .container .preview article .expand img {
    height: 2.4dvh;
  }

  body .container .preview article .right {
    position: absolute;
    height: 20%;
    bottom: 0;
    border-radius: 15px;
    width: 93%;
    gap: 2dvh;
  }

  body .container .preview article .right h1 {
    font-size: 2.5dvh;
  }

  body .container .preview article .right .download {
    height: auto;
    padding: 1.5dvh 0;
  }
}

//Desktop Only Setup
@media (min-width: 950px) {

  body .left {
    width: 5dvw;
    height: 100%;
    border-right: 1px solid #d5d5d5;
    background: #f9f8f8;
    padding-top: 4dvh;
  }

  body .container {
    width: 95%;
    display: block;
    padding: 2dvh;
    left: 5%;
  }

  .container .top {
    padding: 2dvh 2dvh 2dvh 6.8dvw;
    gap: 4dvh;
  }
  
  body .container .top .search-form {
    place-self: flex-start;
    width: 90%;
    height: 5.5dvh;
  }

  body .container .top .search-form img {
    left: 1.5%;
  }
  
  body .container .top .search-form input {
    padding: 0 2% 0 5%;
    font-size: 13px;
  }
  
  body .container .top nav {
    width: 80%;
  }
    
  body .container .top nav ul  {
    width: 70%;
  }
    
  body .container .top nav ul li {
    font-size: 2dvh;
  }
  
  body .container main {
    columns: 6;
    gap: 1.25%;
    top: 15%;
  }

  body .container main .card .download::after{
    right: -1.8dvw;
    top: -1.65dvh;
    width: 1.8dvw;
    box-shadow: 0px 11px 0px white;
  }

  body .container .preview {
    left: 5dvw;
    width: 95dvw;
    align-items: center;
    top: 18%;
    height: 83dvh;
  }

  body .container .preview .back {
    top: 15%;
    left: 10%;
    padding: 0;
  }

  body .container .preview article {
    flex-direction: row;
    height: 90%;
    width: 55%;
    box-shadow: 5px 7px 7px 0px rgb(0 0 0 / 55%);
    border-radius: 3dvh;
    top: 0;
  }

  body .container .preview article .image {
    width: auto;
    height: 100%;
  }

  body .container .preview article .expand {
    bottom: 10%;
  }

  body .container .preview article .expand img {
    height: 2.5dvh;
  }

  body .container .preview article .right {
    width: 50%;
    gap: 10dvh;
    position: relative;
    height: 100%;
    border-radius: none;
    bottom: 0;
  }

  body .container .preview article .right h1 {
    font-size: 3dvh;
  }

  body .container .preview article .right .download {
    height: 8%;
    padding: none;
  }

}